html, * {
	box-sizing: border-box;
	font-family: poppins, sans-serif;
}
.section-mt {
	margin-top: 5rem;
}
.section-mt h2 {
	color: #223d70;
	font-size: 2.5rem;
	font-weight: 800;
}
.sub-heading{
	font-size: 18px;
}
.section-mt h3 {
	color: #223d70;
}
.section-mt p {
	color: #223d70;
}
.f-right {
	float: right;
}
.f-left {
	float: left;
}

header nav {
	background: rgba(0,0,0,.90);
}
.navbar-brand img {
	width: 154px;
}
.navbar-dark .navbar-nav .nav-link {
	transition: 0.5s all;
	text-transform: uppercase;
	display: inline-block;
}
.navbar-dark .navbar-nav .nav-link:hover {
	color: #F9E155!important;
}
.navbar .navbar-nav .nav-item {
	padding: 0 5px;
}
@media (max-width: 991px) {
	.navbar .navbar-nav .nav-item {
		padding: 5px 5px;
	}
}
@media (max-width: 576px) {
	.navbar-brand img {
		width: 120px;
   }
}
.modal-backdrop {
    z-index: 1029;
}
/*--------------- searchbar start------------------- */
.openBtn {
	background: none;
	border: none;
	font-size: 20px;
	cursor: pointer;
	outline: none;
}
.openBtn i {
	color: #fff;
	font-size: 20px;
}
.overlay {
	height: 100%;
	width: 100%;
	display: none;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0, 0.9);
}
.overlay-content {
	position: relative;
	top: 46%;
	width: 80%;
	text-align: center;
	margin-top: 30px;
	margin: auto;
}
.overlay .closebtn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
	cursor: pointer;
	color: white;
}
.overlay .closebtn:hover {
	color: #ccc;
}
.overlay input[type=text] {
	padding: 15px;
	font-size: 17px;
	border: none;
	float: left;
	width: 70%;
	background: white;
}
.overlay input[type=text]:hover {
	background: #f1f1f1;
}
.overlay button {
	float: left;
	width: 30%;
	padding: 15px;
	background: #ddd;
	font-size: 17px;
	border: none;
	cursor: pointer;
}
.overlay button:hover {
	background: #bbb;
}
@media (max-width: 576px){
	.overlay input[type=text] {
		font-size: 15px;
   }
	.overlay button {
		font-size: 15px;
   }
}
/*------------- searchbar end --------------- */
.mybtn {
	background: none;
	border: none;
	border: 1.5px solid #fff;
	color: #fff;
	height: 40px;
	line-height: 40px;
	transition: 0.5s all;
	display: block;
	padding: 0 15px;
	text-align: center;
}
.mybtn:hover {
	text-decoration: none;
	color: #B06FD9;
	border: 1.5px solid #B06FD9;
}
@media (max-width: 991px) {
	.mybtn {
		width: 50%;
		margin: 0 auto;
   }
}
/*------------------scrollUp----------------*/
#scrollUp {
    bottom: 20px;
    right: 20px;
    border:2px solid #ccc;
    border-radius: 10px;
    background-image: url(../img/scrollUp.png);
    height: 50px;
    width: 38px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.one_class{
    background-color: #141a22;
    padding-top: 100px;
    padding-bottom: 50px;
    color: #fff;
}
.video_box .embed-responsive{
    border-radius: 5px;
}
.session_summary{
    padding-left: 1em;
}
.session_item{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    border-radius: 5px;
    cursor: pointer;
}
.session_item:hover{
    background-color: #232b2d; 
}
.session_item.active{
    background-color: #394649;
}
.session_box{
    max-height: 420px;
    overflow-y: scroll;
    padding-right: 10px;
}
.session_box::-webkit-scrollbar {
    width: 2px;
  }
  
  .session_box::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  .session_box::-webkit-scrollbar-thumb {
    background: #394649;
  }

  /*--------------- Newslatter------------------- */
.news-sect input[type="email"] {
	padding: 10px;
	width: 35%;
	color: #223d70;
	border: 1.5px solid #223d70;
}
.news-sect input[type="submit"] {
	padding: 10px 30px;
	color: #223d70;
	background-color: transparent;
	border: 1.5px solid #223d70;
	cursor: pointer;
}
hr {
	width: 100%;
	background-color: #223d70;
	margin-top: 35px;
}
.news-sect ul {
	list-style-type: none;
	padding: 30px;
}
.news-sect li {
	display: inline;
	margin-right: 20px;
	background-color: #262d37;
	border-radius: 50%;
	transition: all 0.5s ease;
}
.news-sect li:hover {
	background-color: #3b5998;
}
.news-sect li:hover i {
	transform: rotate(10deg);
}
.news-sect li a {
	color: #fff;
}

/*--------------footer---------------------*/
footer {
	background-color: #242424;
	margin-top: 5rem;
}
.p_lenght{
	width: 80%;
}
footer p {
	font-size: 16px;
	margin-top: 20px;
	color: #969696;
}
footer h3 {
	letter-spacing: 3px;
	font-size: 18px;
	font-weight: 500;
	line-height: 30px;
}
footer ul {
	list-style: none;
	padding: 0;
}
footer ul li {
	margin-bottom: 6px;
}
footer ul li a {
	color: #969696;
	transition: all 0.5s ease;
	padding: 2px;
}
footer ul li a:hover {
	text-decoration: none;
	color: #fff;
	padding-left: 10px;
}
.q-links {
	width: 50%;
}
.cont-box {
	position: relative;
}
.icon-box {
	display: table-cell;
}
.icon-box:after {
	height: 1px;
	width: 18px;
	content: "";
	position: absolute;
	background: white;
	left: 35px;
	top: 35px;
}
.icon-box img {
	border: 1px solid white;
	padding: 4px;
	margin-top: 20px;
}
.address-box {
	display: table-cell;
	padding-left: 30px;
}
.address-box p {
	margin: 0;
}
.address-box p a {
	display: table-cell;
}
.copy-right {
	background-color: #141a22;
	padding: 1rem;
}
@media (max-width: 1200px) {
	.footer-logo {
		width: 200px;
   }
}
@media (max-width: 992px) {
	footer .p_lenght{
		width: 100%;
   }
	footer ul {
		list-style: none;
   }
	footer ul li {
		margin-bottom: 5px;
   }
	footer ul li a {
		transition: all 0.6s ease;
		padding: 2px;
   }
	footer ul li a:hover {
		text-decoration: none;
		color: #fff;
		padding-left: 10px;
   }
	.copy-right {
		background-color: #141a22;
		padding: 1.5rem 4rem;
   }
}
@media (max-width: 576px) {
	footer {
	margin-top: 4rem;
}
	footer p {
		font-size: 14px;
   }
	footer ul li a {
		font-size: 14px;
   }
   footer .p-5 {
		padding: 2rem!important;
   }
}
/*------------------responsive design----------------*/
@media (min-width: 1350px){
	.container {
		max-width: 1280px;
   }
}
@media (max-width: 576px) {
	.news-sect input[type="email"] {
		width: 50%;
		font-size: 14px;
   }
	.news-sect input[type="submit"] {
		padding: 10px 18px;
		font-size: 14px;
   }
	hr {
		width: 90%;
   }
	.news-sect ul {
		padding: 30px 0;
   }
	.news-sect li {
		margin-right: 8px;
   }
	.news-sect li a {
		color: #fff;
		font-size: 12px;
   }
}